<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'JS'"
        [imageSrc]="'../assets/IMG/js1.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FFFF00'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'CSS'"
        [imageSrc]="'../assets/IMG/css.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0000FF'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'HTML'"
        [imageSrc]="'../assets/IMG/html.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF0000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'MYSQL'"
        [imageSrc]="'../assets/IMG/mysql.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
  </div>


</div>
