<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/IMG/perfil.jpeg" class="img-fluid" id="perfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}} Ivan Dario Bazan</p>
    <p>Full Stack Developer Junior</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de Mi</h1>
      <p>Tengo 29 años y soy estudiante de la tecnicatura Analista de Sistema </p>

    </span>
  </div>
</div>
